

td
{
   
    float: left;
    background-color:skyblue;
    width:200px;
    color: aliceblue;
    font-size:10px;
   
   
}

#albumcover
{
   
    width:600px;
    height:auto;
    
   
}


#songlist
{
   
    float:left;
    float:top;
    background-color:skyblue;
    width:auto;
    height:auto;
    color: white;
    font-size: 40px;
   
   
}

h1
{
    color:darkgoldenrod;
    text-align: center;
}

h2
{
    width:200px;
    background-color:darkblue;
    color:white;
   
   
}

#info
{
    float:left;
    width:200px;
    background-color: skyblue;
    color: white;
    font-size:15px;
    clear:bottom;
}

