body{
    
    background-color: #faf2d8
}

td
{
   
    float: left;
    float:top;
    background-color:#cb7259;
    width:300px;
    color: aliceblue;
    font-size:20px;
   
   
}

#albumcover
{
   
    width:auto;
    height:auto;
    float: top;
    font-size: 30px;
    color:navy;
    border-style: solid;
    border-width: 10px;
    border-color: #66212b;

    
    
   
}


#songlist
{
   
    float:left;
    float:top;
    background-color:#cb7259;
    width:auto;
    height:auto;
    color: white;
    font-size: 35px;
   
   
}

h1
{
    color:#66212b; 
    text-align: center;
    border-bottom: solid;
    border-color: #cb7259;
    
}

h2
{
    width:400px;
    background-color:darkblue;
    color:white;
   
   
}

#info
{
    float:left;
    width:200px;
    background-color: #cb7259;
    color: white;
    font-size:40px;
    clear:bottom;
    
   
}

